/*
 Theme Name:   Divi Child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Divi Child Theme
 Author:       Laura Greenberg
 Author URI:   http://laura-greenberg.com
 Template:     Divi
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  divi-child
*/


body
{
  background-color:#f8eeea;
}

/***INTRO TEXT ***/
.large-body{
font-size:1.25em;
}

/****FOOTER*****/
#main-footer {
    background-color: #222;
    clear: both;
  }

#footer-bottom{
  padding:0;
}


/*** speakers archive page to remove video info ****/
.archive .hidden,
.archive .product-info-row,
.archive .video-block {
  display: none!important;
}

/**archive page ***/

.et_pb_team_member_description h4{
text-align:center;
}

/***SPEAKER IMAGES ****/

.et_pb_team_member_image{
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #94646f;
}

.archive .et_pb_section{
  background:#f8eeea!important;
}

.archive .et_pb_member_position{
  font-size:1em!important;
  line-height:2em!important;
}


/*LEARN MORE SPEAKER INFO MODULE


.et-learn-more h3.heading-more,
.et-learn-more{
background:#f8eeea!important;
line-height:1.5em!important;
color:#30323d!important;
line-height: 1.5em!important;
padding:5px 15px 5px 15px!important;
}

.et-learn-more h3.heading-more{
  border:0!important;
}

.et-learn-more h3.heading-more span.et_learnmore_arrow{
  top:15%!important;
  height:40px!important;
  width:auto!important;
  border:0!important;
  box-shadow:none!important;
}

.et-learn-more .learn-more-content {
  width: 200%!important;
  bottom: 220px!important;
  right: 88%!important;
  position: relative!important;
  z-index:2!important;
  box-shadow: 5px 5px 10px #94646f!important;
  background:#f8eeea;
  }

****/

.archive .short-bio{
  line-height:1em;
  height:11em;
  overflow:hidden;
  color:#32323d;
  line-height: 1.5em;
}

.single-speaker .short-bio{
  line-height:1.3em;
  height:7em;
  overflow:hidden;
  font-size:1em;
  margin-top:0;
}

.bio-wrapper {
    -webkit-column-width: 350px;
    column-width: 350px;
    height: 100%;
}

.cd-modal-action .btn {
  white-space: normal;
  line-height: 1.5em;
  width:100%;
  font-weight:normal;
  border-radius:0;

}

.archive .cd-modal-action .btn{
  font-size:1em;
}


.cd-modal-action{
  margin-top:-3%!important;
}

.cd-modal-content h1{
  padding-top:15%;
}

.cd-modal .cd-modal-content{
  box-shadow: 5px 5px 10px #94646f;
  border:1px solid #94646f;
  padding:1% 5%!important;
}

.cd-modal::after{
  background:0;
}

@media only screen and (max-width: 768px){

/***HEADER ON MOBILE ****/

.et_pb_fullwidth_header{
  padding:0;
}

.et_pb_fullwidth_header .header-image{
  margin:0!important;
}

/**ARCHIVE-PAGE SPEAKER INFO ON MOBILE****/
.archive .et_pb_team_member_image
  {
    width:60%!important;
    margin:20px auto!important;
  }

.archive .speaker-row{
  margin-top:0!important;
}

.single-speaker .et_pb_team_member_description h4{
position:absolute;
top:0;
width:100%;
text-align:center;
}


.single-speaker .et_pb_member_position{
position:absolute;
top:5%;
width:100%;
text-align:center;
line-height:2em;
}

.archive .et_pb_section{
  padding:0;
}
/***VIDEO PAGE ON MOBILE ***/
.single-speaker .et_pb_team_member_image
{
  width:30%!important;
  position:absolute!important;
  left:0;
  top:0;
  margin:0!important;
}

.single-speaker .et_pb_team_member .et_pb_team_member_description h4,
.single-speaker .et_pb_team_member .et_pb_member_position,
.single-speaker .et_pb_team_member .et_pb_team_member_description{
  width:60%;
}

.single-speaker .et_pb_team_member_description {
    float: right;
    margin-top: 50px;
}

.single-speaker .et_pb_row_1.et_pb_row{
  width:100%!important;
  margin-top:-15%!important;
}


/***FOOTER LOGO ****/

.et_pb_column.et_pb_column_1_3.footer-credits.et_pb_column_6{
width:250px!important;
}


}

/*TABLET AND LARGER LARGER SCREENS */
@media only screen and (max-width:425px){
.cd-section {
    height: 60px;
}
}

@media only screen and (min-width: 500px){
.archive .speaker-section{
  width:50%;
  float:left;
}

}

@media only screen and (min-width: 768px) and (max-width:980px){

}


@media only screen and (min-width: 768px){

/*moves speaker info to left*/
.single-speaker .speaker-row.et_pb_row {
    width: 30%!important;
    max-width:300px!important;
    float: left!important;
    padding:2%!important;
    margin-right:10%!important;

}

.et_pb_column .et_pb_team_member_image{
width:80%!important;
max-width:250px!important;
margin:0 10%!important;
}


/*old learn more module
.et-learn-more .learn-more-content {
    width: 250%;
    bottom:100px;
    left:15%;
}
*/

.et_pb_team_member_description{
padding-top:10%;
}

.et_pb_member_position{
  line-height:3.5em!important;
}
/*Moves read more directly below bio*/


/*limits lenght of speaker bio on video pages*/
  .single-speaker .short-bio{
    line-height:1.25em;
    height:27em;
  }

/*video info to the right*/
.single-speaker .et_pb_row_1.et_pb_row{
width:60%!important;
float:left!important;
margin-top:5%;
}

.person-module{
  margin:0;
}

.video-page{
  width:60%!important;
}


/***ARCHIVES PAGE ****/


/*OLD LEARN MORE MODUL
.et-learn-more .learn-more-content {
  width: 200%!important;
  bottom: 220px!important;
  right: 88%!important;
  position: relative!important;
  z-index:3!important;
  box-shadow: 5px 5px 10px #94646f!important;
}

*/



.product-info-row{
  margin-bottom:30%;
}

#main-footer {
    position: fixed;
    bottom: 10%;
    width: 100%;
    height: 55px;
}


.archive .et_pb_module.et_pb_team_member.et_pb_team_member_3.et_pb_bg_layout_light.clearfix {
    margin-bottom: 50%;
}


}


@media only screen and (min-width: 981px){
  .right-footer-icon{
    padding-bottom:0!important;
}

.video-optin-container {
    width: 95%;
    display: flex;
    align-items: center;

}

.et_pb_module.et_pb_video.et_pb_video_0{
  margin-top:0!important;
}

}
@media only screen and (min-width: 1084px){
.left-footer-icon{
  justify-content:flex-end!important;
}

.right-footer-icon{
  justify-content:flex-start!important;
}

.archive .speaker-section{
  width:33.3%;
  float:left;
}

.archive .et_pb_column .et_pb_team_member_image{
    width:70%!important;
    margin:0 15%!important;
  }

.archive .short-bio{
    line-height:1em;
    height:13em;
    overflow:hidden;
    color:#32323d;
    line-height: 1.5em;
  }

  .archive .cd-modal-action .btn {
    font-size:.9em!important;
  }

  #main-footer {
      position: fixed;
      bottom: 5%;
      height: 100px;
}

@media only screen and (min-width: 1405px){

  #content{
    max-width:1300px;
    margin:auto;
  }

.single-speaker .speaker-row.et_pb_row{
  max-width:390px!important;
}

.single-speaker .et_pb_column .et_pb_team_member_image {
    width: 60% !important;
    margin: 0 20% !important;
}

#main-footer {
    position: fixed;
    bottom: 10%;
    height: 100px;
}

.footer-row{
  padding-bottom:150px!important;
}

}
